@import "./styles/index.less";

.App {
  max-width: @pixel-size * 60;
  margin: @pixel-size * 0 auto;

  .header {
    display: flex;
    width: 100%;

    > div {
      flex: 1;
    }

    .button {
      float: right;
      margin: @pixel-size * 3.25 @pixel-size * 0;
    }
  }

  .footer {
    margin: @pixel-size * 3 @pixel-size * 0;
    font-weight: bold;
    text-align: center;
  }
}
