.board {
  width: calc(var(--pixel-size) * 8 * 4 + var(--pixel-size) * 6);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  background: var(--secodary-background);
  border: var(--pixel-size) solid var(--secodary-background);
  border-radius: calc(var(--pixel-size) * 0.75);
}

.cell {
  width: calc(var(--pixel-size) * 8);
  height: calc(var(--pixel-size) * 8);
  margin: calc(var(--pixel-size) * 0.5);
  border-radius: calc(var(--pixel-size) * 0.5);
  background: var(--cell-background);
}
